<%= content_for(:navbar) do %>
  <li><%=link_to "Products", products_path %></li>
<% end %>

<h2>Welcome To The Gummy Kingdom!</h2>
<img src="https://unitedmonkee.files.wordpress.com/2010/06/snoops-gummy-bear-army.jpg" alt="snoop dogg and gummies">

<p>All hail the mighty gummy bears of the great Gummy Bear Kingdom.  We find the finest gummy bears in all the lands and provide them for your enjoyment!</p>
