<%= content_for(:navbar) do %>
  <li><%=link_to "Products", products_path %></li>
<% end %>
<div class="fill">
  <h3 class = "title">Welcome to the Gummy Palace!</h3>
  <img class = "welcome-image" src="https://unitedmonkee.files.wordpress.com/2010/06/snoops-gummy-bear-army.jpg" alt="snoop dogg and gummies">

  <p>All hail the mighty gummy bears of the great Gummy Bear Kingdom.  We find the finest gummy bears in all the lands and provide them to you for your enjoyment!</p>

</div>
