@import "materialize/components/color";
$primary-color: color("pink", "lighten-3") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';

body {
    background-image:    url(https://i.ytimg.com/vi/A9cF7-8Ywto/maxresdefault.jpg);
    background-repeat:   no-repeat;
    width:100%;
    height:100%;
    font-family: 'Lobster', cursive;
}

.content {
  background-color: rgba(249, 159, 222, 0.9);
  border-radius: 12px;
  margin-top: 30px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}

.fill {
  padding: 40px 40px 40px 40px;
}

.medium_image {
  height: 300px;
  width: auto;
}

.thumb {
  height: 80px;
  width: auto;
}

.welcome-image {
  width: 500px;
  height: auto;
}

.title {
  text-align: center;
  font-size: 30px;
}

.product-index{
  border-right: 1px solid black;
  height: 150px;
}
