<%= content_for (:navbar) do %>
  <li><%= link_to @product.name, product_path(@product) %></li>
  <li><%= link_to "Products", products_path %></li>
<% end %>
<div class="fill">
  <h2 class = "title">Edit Product</h2>

  <%= render 'form' %>
</div>
