<%= content_for(:navbar) do%>
  <li><%= link_to "Add Product", new_product_path %></li>
<% end %>

<div class="fill">
  <h3 class = "title">Products:</h3>
  <% if @products.any? %>
  <div class="row">
    <% @products.each do |product| %>
        <div class="col s12 m4 product-index">
          <div>
            <div class="card-content black-text">
              <h4><%= link_to product.name, product_path(product) %></h4>
          <%= image_tag product.picture, :class => "thumb" %>
        </div>
      </div>
    </div>
          <% end %>
   </div>
  <% else %>
    <h4>It appears that there aren't any products yet!</h4>
  <% end %>
</div>
